<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="css/bootstrap.min1.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
    />
    <link rel="stylesheet" href="fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="fonts/typicons.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
    <link rel="stylesheet" href="css/smoothproducts.css" />
    <link rel="stylesheet" href="css/untitled.css" />
    <link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16" />
</head>

<body id="page-top">
    <header class="masthead bg-primary text-white text-center" style="background-color: rgb(255,255,255);background-image: url(&quot;images/012%20Tempting%20Azure.png&quot;);color: rgb(121,86,232);height: 681px;">
        <div class="container" style="margin: 2px;margin-top: -125px;margin-right: -9px;margin-left: 200px;background-image: url(&quot;NONE&quot;);color: rgb(73,87,244);"><img class="img-fluid d-block mx-auto pulse animated infinite mb-5" src="images/logo_transparent.png" style="width: 275px;">
            <div>
                <div class="row">
                    <div class="col" style="height: 69px;">
                        <h1 class="text-right rubberBand animated infinite" style="padding: 0;color: #d60270;">4</h1>
                    </div>
                    <div class="col">
                        <h1 class="jello animated infinite" style="color: #ad0075;">0</h1>
                    </div>
                    <div class="col">
                        <h1 class="text-left rubberBand animated infinite" style="color: #ad0075;">4</h1>
                    </div>
                </div>
            </div>
            <h1 class="font-weight-light mb-0" style="font-family: Lato, sans-serif;"><strong>oops! the page you are searching is not found&nbsp;</strong></h1>
        </div>
    </header>
    <script src="js/jquery.min1.js"></script>
    <script src="js/bootstrap.min1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/freelancer.js"></script>

    <%- include('footer') %> 