<%- include('header') %>

<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div data-aos="zoom-in-up" class="block-heading">
                <h2 class="text-info">About Us</h2>
                <p>We at Hams devote our self to provide our clients an easy and comfortable platform. To ensure their satisfaction.</p>
            </div>
            <div class="row justify-content-center" data-aos="zoom-in-down" style="margin: 11px;">
                <div class="col-sm-6 col-lg-4" data-aos="zoom-in-right">
                    <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="images/depositphotos_123041468-stock-illustration-avatar-man-cartoon.jpg">
                        <div class="card-body info">
                            <h4 class="card-title">Manank Gupta</h4>
                            <p class="card-text">The UI (front-end) dev at HAMS</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" data-aos="zoom-in-left">
                    <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="images/depositphotos_123041468-stock-illustration-avatar-man-cartoon.jpg">
                        <div class="card-body info">
                            <h4 class="card-title">Deepak Deedar Singla</h4>
                            <p class="card-text">The Databsae(back-end) dev at Hams</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" data-aos="zoom-out-down" style="margin: 11px;">
                <div class="col-sm-6 col-lg-4" data-aos="zoom-out-right">
                    <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="images/depositphotos_123041468-stock-illustration-avatar-man-cartoon.jpg">
                        <div class="card-body info">
                            <h4 class="card-title">Shantanu Gulathi</h4>
                            <p class="card-text">Info gathering and advertising department</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" data-aos="zoom-out-left">
                    <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="images/depositphotos_123041468-stock-illustration-avatar-man-cartoon.jpg">
                        <div class="card-body info">
                            <h4 class="card-title">Akarsh Sharma</h4>
                            <p class="card-text">An analysit and data coordinator</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('footer') %> 